
.numero {
    
    color:white;
    position: absolute;
    top:48%;
    right:40%;
    left:39%;
    display: flex;
    justify-content: center;
    
}

.tets {
    width:400px;
    color: white;
    position: absolute;
    top:400px;
    
}


.arrleft {
    left: 5%;
    position: absolute;
    top:33%;
}

.arright {
    position: absolute;
    right: 5%;
    top:33%;
    
}

.img {
 border-radius: 40px;
 max-height: 415px;
 width: 100%;
 object-fit:cover;
}



